<footer class="pt-5 bgSecondColor position-relative z-1">
  <div class="container">
    <div class="row g-3 text-white py-5">
      <div class="col-xl-3 col-md-6">
        <div class="logoSide">
          <img
            [src]="
              footerLogo ||
              '../../../assets/image/golden ocean/white_logo-removebg-preview.png'
            "
            width="200px"
            height="90px"
            alt="footer logo"
          />

          <div class="mb-3 d-flex">
            <i
              class="fa fa-headphones-alt me-3 text-white bgSecondColor flexCenter"
            ></i>
            <a
              href="tel:{{ phoneNumber }}"
              class="text-white fw-bold fs-4 text-decoration-none"
              >{{ phoneNumber }}</a
            >
          </div>
          <div class="mb-3 d-flex">
            <i
              class="fa fa-location-dot me-3 text-white bgSecondColor flexCenter"
            ></i>
            <a href="{{ userLocation }}" target="_blank" class="text-white">{{
              userAddress
            }}</a>
          </div>
          <div class="mb-3 d-flex">
            <i
              class="fa fa-envelopes-bulk me-3 text-white bgSecondColor flexCenter"
            ></i>
            <a href="mailTo:{{ userEmail }}" class="text-white">{{
              userEmail
            }}</a>
          </div>
          <div></div>
        </div>
      </div>
      <div class="col-xl-2 col-md-6">
        <div>
          <div class="footerTitle">
            <h4 class="pb-3 mb-4 fw-bold position-relative z-1 text-capitalize">
              {{ 'footer.ourCompany' | translate }}
            </h4>
          </div>
          <ul class="list-unstyled">
            <li
              routerLink="/about"
              class="text-capitalize mb-2 text-white transition"
            >
              <i class="fa fa-angle-double-right me-2 textSecondColor"></i>
              <span>{{ 'about.aboutUs' | translate }}</span>
            </li>
            <li
              routerLink="/contact"
              class="text-capitalize mb-2 text-white transition"
            >
              <i class="fa fa-angle-double-right me-2 textSecondColor"></i>
              <span>{{ 'contact.contactUs' | translate }}</span>
            </li>
            <li
              routerLink="/blog"
              class="text-capitalize mb-2 text-white transition"
            >
              <i class="fa fa-angle-double-right me-2 textSecondColor"></i>
              <span>{{ 'footer.ourBlog' | translate }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-2 col-md-6">
        <div>
          <div class="footerTitle">
            <h4 class="pb-3 mb-4 fw-bold position-relative z-1 text-capitalize">
              {{ 'footer.otherServices' | translate }}
            </h4>
          </div>
          <ul class="list-unstyled">
            <li
              routerLink="/"
              class="text-capitalize mb-2 text-white transition"
            >
              <i class="fa fa-angle-double-right me-2 textSecondColor"></i>
              <span>{{ 'footer.rewardsProgram' | translate }}</span>
            </li>
            <li
              routerLink="/"
              class="text-capitalize mb-2 text-white transition"
            >
              <i class="fa fa-angle-double-right me-2 textSecondColor"></i>
              <span>{{ 'footer.partners' | translate }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-2 col-md-6">
        <div>
          <div class="footerTitle">
            <h4 class="pb-3 mb-4 fw-bold position-relative z-1 text-capitalize">
              {{ 'footer.helpCenter' | translate }}
            </h4>
          </div>
          <ul class="list-unstyled">
            <li
              routerLink="/"
              class="text-capitalize mb-2 text-white transition"
            >
              <i class="fa fa-angle-double-right me-2 textSecondColor"></i>
              <span>{{ 'footer.account' | translate }}</span>
            </li>
            <li
              routerLink="/faq"
              class="text-capitalize mb-2 text-white transition"
            >
              <i class="fa fa-angle-double-right me-2 textSecondColor"></i>
              <span>{{ 'footer.faqs' | translate }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div>
          <div class="footerTitle">
            <h4 class="pb-3 mb-4 fw-bold position-relative z-1 text-capitalize">
              {{ 'footer.newsletter' | translate }}
            </h4>
          </div>
          <p class="my-3">
            {{ 'footer.newsletterDesc' | translate }}
          </p>
          <form>
            <input
              type="email"
              placeholder="{{ 'footer.yourEmail' | translate }}"
              class="form-control rounded-3 mb-3 p-2"
            />
            <button class="secBtn Btn w-100 rounded-3">
              {{ 'footer.subscribeNow' | translate }}
              <i class="fa-regular fa-paper-plane ms-2 rounded-circle"></i>
            </button>
            <p class="my-1">
              <i class="fa fa-lock"></i> {{ 'footer.infoSafe' | translate }}
            </p>
          </form>
        </div>
      </div>
    </div>
    <div class="flexBetween flex-wrap py-3 border-top">
      <h6 class="text-white text-capitalize">
        {{ 'footer.copyrightText' | translate }}
        <a href="" class="fw-bold textSecondColor">{{ 'footer.perfectSolutions' | translate }}</a>
        {{ 'footer.allRightsReserved' | translate }}
      </h6>
      <app-social></app-social>
    </div>
  </div>
</footer>
