<mat-accordion multi>
  @for (item of faqs; track $index) {
  <mat-expansion-panel class="my-4 rounded-4" #panel>
    <mat-expansion-panel-header class="">
      <!-- Custom Icon -->
      <mat-panel-description>
        <i
          *ngIf="!panel.expanded"
          class="fa-solid fa-arrow-up fa-rotate-by border flexCenter text-white bgSecondColor rounded-circle p-1 px-0"
          style="--fa-rotate-angle: 45deg"
        ></i>
        <i
          *ngIf="panel.expanded"
          class="fa-solid fa-arrow-up fa-rotate-by text-dark fs-5"
          style="--fa-rotate-angle: 45deg"
        ></i>
      </mat-panel-description>

      <mat-panel-title class="h5 mb-0 fw-bold">
        {{ item.question }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <h6 [innerHTML]="item.answer"></h6>
  </mat-expansion-panel>
  }
</mat-accordion>
