@import "../../../styles/variables";

.listFilter{
  span{
    width: 25px;
    height: 25px;
    border:1px solid $primary-color !important;
    color: $primary-color !important;
    transition: all 1s;
}

  &:hover{
    background-color: $secondary-color;
    color: white !important;
    span{
      color: white !important;
      border:1px solid white !important;
    }
  }
}

