<section class="pageBanner mb-5">
  <div
    class="text-capitalize text-white fw-bold h-100 flexCenter justify-content-end pb-5 mb-5 flex-column"
  >
    <h2 class="fw-bold">{{ 'contact.contactUs' | translate }}</h2>
    <nav style="--bs-breadcrumb-divider: '✈️'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']" class="text-decoration-none text-white"
            >{{ 'nav.home' | translate }}</a
          >
        </li>
        <li class="breadcrumb-item active text-white" aria-current="page">
          {{ 'contact.contactUs' | translate }}
        </li>
      </ol>
    </nav>
  </div>
</section>

<section class="my-5">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-4">
        <div>
          <ul
            class="list-unstyled bg-white sideBar p-3 rounded-3 position-relative"
          >
            <li class="d-flex align-items-center mb-4">
              <i
                class="fa fa-location-dot bgMainColor text-white fs-4 flexCenter flex-shrink-0 me-3"
              ></i>
              <div>
                <h6 class="textSecondColor text-capitalize h5 fw-bold mb-2">
                  {{ 'contact.officeAddress' | translate }}
                </h6>
                <p class="mb-1">{{ userAddress }}</p>
              </div>
            </li>

            <li class="d-flex align-items-center mb-4">
              <i
                class="fa fa-phone-volume bgMainColor text-white fs-4 flexCenter flex-shrink-0 me-3"
              ></i>
              <div>
                <h6 class="textSecondColor text-capitalize h5 fw-bold mb-2">
                  {{ 'contact.callUs' | translate }}
                </h6>
                <div class="mb-1">
                  <a href="tel:{{ phoneNumber }}" class="d-block mb-1">{{
                    phoneNumber
                  }}</a>
                  <a href="tel:{{ whatsappNumber }}" class="d-block mb-1">{{
                    whatsappNumber
                  }}</a>
                  <!-- <a href="tel:0422454484" class="d-block mb-1"
                    >Ahmed – 0422 454 484</a
                  >
                  <a href="tel:0434133646" class="d-block"
                    >Libby – 0434 133 646</a
                  > -->
                </div>
              </div>
            </li>

            <li class="d-flex align-items-center mb-4">
              <i
                class="fa fa-envelope bgMainColor text-white fs-4 flexCenter flex-shrink-0 me-3"
              ></i>
              <div>
                <h6 class="textSecondColor text-capitalize h5 fw-bold mb-2">
                  {{ 'contact.emailUs' | translate }}
                </h6>
                <a href="mailTo:{{ userEmail }}" class="d-block mb-1">{{
                  userEmail
                }}</a>
              </div>
            </li>

            <li class="d-flex align-items-center mb-4">
              <i
                class="fa fa-globe bgMainColor text-white fs-4 flexCenter flex-shrink-0 me-3"
              ></i>
              <div>
                <h6 class="textSecondColor text-capitalize h5 fw-bold mb-2">
                  {{ 'contact.reviewUs' | translate }}
                </h6>
                <a
                  href="https://www.google.com.eg/search?sxsrf=AE3TifOtdr0U-NnL1K_8tPQS9GNxjtLUkQ:1764509005180&si=AMgyJEtREmoPL4P1I5IDCfuA8gybfVI2d5Uj7QMwYCZHKDZ-E4dQ6tHviAO_MO5RVhyBWWL9GW5FsA6WqKauRDipO-PgzQq0_EKuGJ-ojqnjHxZ3lxU56fncs5CGgJnJODQrSW85H7jHfSpBQxiVuTB56bsbRGfEljugB_RIrLbSP-UHUJFNFJA%3D&q=Golden+Ocean+Travel+Service+%22GOTS%22+%D8%A7%D9%84%D9%85%D8%B1%D8%A7%D8%AC%D8%B9%D8%A7%D8%AA#lrd=0x145847655238678d:0x97e9238e398fe44a,3"
                  target="_blank"
                  class="d-block mb-1"
                >
                  {{ 'contact.googleReviews' | translate }}
                </a>
              </div>
            </li>

            <li class="d-flex align-items-center mb-4">
              <i
                class="fa fa-clock-four bgMainColor text-white fs-4 flexCenter flex-shrink-0 me-3"
              ></i>
              <div>
                <h6 class="textSecondColor text-capitalize h5 fw-bold mb-2">
                  {{ 'contact.openTime' | translate }}
                </h6>
                <p class="mb-1">{{ openTime }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 align-self-center">
        <div class="bg-white rounded-3 p-4 sideBar">
          <h5 class="text-capitalize textSecondColor fw-bold mb-3">
            {{ 'contact.getInTouch' | translate }}
          </h5>
          <p class="text-muted mb-4">
            {{ 'contact.contactDesc' | translate }}
          </p>

          <form
            [formGroup]="contactForm"
            (ngSubmit)="getContactData()"
            class="row g-3"
          >
            <div class="col-md-6">
              <div>
                <input
                  type="text"
                  formControlName="name"
                  class="form-control p-2 rounded-3"
                  placeholder="{{ 'contact.yourName' | translate }}"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <input
                  type="email"
                  formControlName="email"
                  class="form-control p-2 rounded-3"
                  placeholder="{{ 'contact.yourEmail' | translate }}"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <input
                  type="tel"
                  formControlName="phone"
                  class="form-control p-2 rounded-3"
                  placeholder="{{ 'contact.yourPhone' | translate }}"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <input
                  type="text"
                  formControlName="subject"
                  class="form-control p-2 rounded-3"
                  placeholder="{{ 'contact.yourSubject' | translate }}"
                />
              </div>
            </div>
            <div class="col-12">
              <div>
                <select
                  formControlName="country"
                  class="form-control p-2 rounded-3"
                >
                  <option value="" class="bg-dark" disabled>
                    {{ 'contact.selectYourCountry' | translate }}
                  </option>
                  <option *ngFor="let item of countryList" [value]="item.name">
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div>
                <textarea
                  rows="5"
                  formControlName="message"
                  class="form-control p-2 rounded-3"
                  placeholder="{{ 'contact.writeYourMessage' | translate }}"
                ></textarea>
              </div>
            </div>

            <div>
              <button type="submit" class="mainBtn Btn">
                {{ 'contact.sendMessage' | translate }}
                <i
                  class="fa fa-paper-plane fa-rotate-by rounded-circle ms-2"
                ></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5 pt-5">
  <div class="container-fluid">
    <a
      class="text-dark fw-bold"
      href="https://www.google.com/maps/place/Golden+Ocean+Travel+Service+%22GOTS%22/@29.9702053,31.2501009,17z/data=!3m1!4b1!4m6!3m5!1s0x145847655238678d:0x97e9238e398fe44a!8m2!3d29.9702053!4d31.247526!16s%2Fg%2F11ykkg3944?entry=ttu&g_ep=EgoyMDI1MTEyMy4xIKXMDSoASAFQAw%3D%3D"
      target="_blank"
      >{{ 'contact.viewInGoogleMaps' | translate }}</a
    >

    <iframe
      *ngIf="userLocation"
      [src]="userLocation | safeUrl"
      class="w-100 rounded-3"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>

<app-partner-slider></app-partner-slider>
