<div class="item bg-white position-relative z-1 d-flex align-items-center">
  <figure class="mb-0 position-relative flex-shrink-0">
    <img
      src="../../../assets/image/hero-1.jpg"
      class="w-100 h-100 rounded-circle"
      alt=""
    />
  </figure>
  <figcaption class="position-relative">
    <div class="text-capitalize">
      <h4 class="textSecondColor mb-1 h5">{{ testimonial.reviewer_name }}</h4>
      <p class="textMainColor mb-0">our clients</p>
    </div>
    <!-- <div class="qoute">
      <img
        src="../../../assets/image/quote.svg"
        class="w-100"
        alt="qoutes icon"
      />
    </div> -->
    <p class="textSecondColor my-3 mb-2">" {{ testimonial.content }} "</p>

    <span *ngFor="let filled of getStars(testimonial.rate)">
      <i
        [ngClass]="
          filled
            ? 'fa fa-star textSecondColor'
            : 'fa-regular fa-star textSecondColor'
        "
      ></i>
    </span>
  </figcaption>
</div>
