// Global SCSS Variables for the entire project

// $primary-color: #24BDC7;
// $secondary-color: #0C2C7A;
$primary-color: #DB9F3E;
$secondary-color: #0A1642;
$third-color: #F96768;
$primary-black-color: #08446A;
$primary-white-color: #E4F7F8;
$text-color: #757F95;
$border-color: #EEEFEF;
$text-font: "Nunito", Arial, sans-serif;
// $body-font: "barlow", sans-serif;
$accent-font: "Just Another Hand", cursive;
$transition: all 0.7s ease-in-out;
