<section
  style="
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.7)
      ),
      url('../../../assets/image/auth\ bg.avif') center/cover no-repeat;
  "
  class="pageBanner mb-5"
>
  <div
    class="text-capitalize text-white fw-bold h-100 flexCenter justify-content-end pb-5 mb-5 flex-column"
  >
    <h2 class="fw-bold">log in</h2>
    <nav style="--bs-breadcrumb-divider: '✈️'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']" class="text-decoration-none text-white"
            >Home</a
          >
        </li>
        <li class="breadcrumb-item active text-white" aria-current="page">
          log in
        </li>
      </ol>
    </nav>
  </div>
</section>

<section class="my-5 py-5">
  <div class="container">
    <div class="col-lg-6 col-md-8 mx-auto">
      <div class="specialBorder bg-white p-4 sideBar">
        <div class="text-center">
          <img
            [src]="logo"
            [alt]="siteTitle"
            [title]="siteTitle"
            width="200px"
            height="70px"
          />
          <p class="fs-5">Create your H&S account</p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="handleLoginForm()" class="">
          <div class="mb-3">
            <label
              for="email"
              class="textSecondColor text-capitalize fw-bold mb-2"
              >email address</label
            >
            <div class="item position-relative">
              <input
                type="email"
                id="email"
                formControlName="email"
                placeholder="Your Email "
                class="form-control p-2 ps-5 rounded-3"
              />
              <i class="fa-regular fa-envelope textMainColor"></i>
            </div>
            <!-- show validators -->
            <div
              *ngIf="
                loginForm.get('email')?.errors &&
                loginForm.get('email')?.touched
              "
              class="alert alert-danger mt-2"
            >
              <span *ngIf="loginForm.get('email')?.getError('required')"
                >email required</span
              >
            </div>
          </div>

          <div class="mb-3">
            <label
              for="password"
              class="textSecondColor text-capitalize fw-bold mb-2"
              >password</label
            >
            <div class="item position-relative">
              <input
                type="password"
                id="password"
                formControlName="password"
                placeholder="Your Password "
                class="form-control p-2 ps-5 rounded-3"
              />
              <i class="fa fa-lock textMainColor"></i>
            </div>
            <!-- show validators -->
            <div
              *ngIf="
                loginForm.get('password')?.errors &&
                loginForm.get('password')?.touched
              "
              class="alert alert-danger mt-2"
            >
              <span *ngIf="loginForm.get('password')?.getError('required')"
                >password required</span
              >
            </div>
          </div>

          <p
            (click)="handleForgetPass(loginForm.get('email')?.value)"
            routerLink="/forgetPassword"
            class="my-2 textMainColor fw-bold cPointer text-capitalize"
          >
            forget password ?
          </p>

          <button
            [disabled]="loginForm.invalid"
            type="submit"
            class="mainBtn Btn mb-3 w-100"
          >
            <i
              *ngIf="isLoading"
              class="fa-solid fa-spinner fa-spin me-1 border-0 bg-transparent text-white"
            ></i>
            <i
              class="fa fa-paper-plane mx-2 border-0 bg-transparent text-white"
            ></i>
            log in
          </button>
        </form>
        <div></div>
        <p class="my-2 text-center">
          Don't have an account?
          <span routerLink="/signup" class="textMainColor fw-bold cPointer"
            >Sign Up.</span
          >
        </p>
      </div>
    </div>
  </div>
</section>
