<app-nav></app-nav>
<router-outlet></router-outlet>
<app-footer></app-footer>

<ngx-spinner
  bdColor="#fff"
  size="medium"
  color="red"
  class="textMainColor w-full"
  type="square-jelly-box"
  [fullScreen]="true"
>
  <figure class="loader-container">
    <img
      src="assets/image/loader.gif"
      width="120px"
      height="120px"
      alt="loader gif"
      class="spinning-loader"
    />
  </figure>
  <!-- <p class="text-capitalize text-center textMainColor fs-2">Loading...</p> -->
</ngx-spinner>

<!-- <app-sound style="display: none;"></app-sound> -->
