<div
  role="button"
  [routerLink]="['/destination', destination.slug]"
  class="item p-2 overflow-hidden mb-4 cPointer"
>
  <figure class="overflow-hidden rounded-4 position-relative imgHover">
    <img
      [src]="destination.featured_image"
      class="w-100 transition"
      height="250px"
      [alt]="destination.title"
      [title]="destination.title"
    />
    <div
      class="bg-dark bg-opacity-25 position-absolute top-0 start-0 end-0 bottom-0 p-3 d-flex flex-column justify-content-end"
    >
      <h5
        [routerLink]="['/destination', destination.slug]"
        class="text-white text-capitalize h3 fw-bold"
      >
        {{ destination.title }}
      </h5>

      <button
        [routerLink]="['/destination', destination.slug]"
        class="secBtn Btn text-white w-75"
      >
        see more
      </button>
    </div>
  </figure>
</div>
