<div class="fixed-top bg-transparent">
  <!-- Main Navbar -->
  <nav class="navbar navbar-expand-lg whiteNav flex-nowrap">
    <div class="container-fluid">
      <!-- Logo Section -->
      <div routerLink="/" class="navbar-brand cPointer flex-shrink-0">
        <img
          src="../../../assets/image/golden ocean/Artboard 2.png"
          [alt]="siteTitle"
          [title]="siteTitle"
          class="me-2 w-100 h-100"
        />
      </div>

      <!-- Navigation Links (Desktop) -->
      <div class="navbar-nav mx-auto d-none d-lg-flex flex-wrap">
        <ng-container *ngFor="let link of navigationLinks">
          <a
            [routerLink]="link.path"
            routerLinkActive="active fw-bold"
            [routerLinkActiveOptions]="{ exact: link.path === '/' }"
            class="nav-link px-1 mx-2 text-white position-relative"
          >
            {{ link.label | translate }}
          </a>

          <!-- Dropdown categories -->
          <ng-container *ngIf="link.path === '/' && allCategories?.length">
            <div
              class="nav-link px-1 mx-2 text-white position-relative dropdown custom-dropdown"
            >
              <span
                [routerLink]="['/tour']"
                routerLinkActive="active fw-bold"
                class="d-block text-capitalize"
                >{{ "nav.tours" | translate }}</span
              >
              <ul class="dropdown-menu border-0 shadow">
                @for (cat of allCategories; track $index) { @if (cat.tours_count
                !== 0) {
                <li>
                  <a
                    class="dropdown-item"
                    [routerLink]="['/tour']"
                    routerLinkActive="active fw-bold"
                    [queryParams]="{ type: cat.id }"
                  >
                    {{ cat.title }}
                  </a>
                </li>
                } }
              </ul>
            </div>
          </ng-container>

          <!-- Destinations Dropdown -->
          <ng-container *ngIf="link.path === '/' && allDestinations?.length">
            <div
              class="nav-link px-1 mx-2 text-white position-relative dropdown custom-dropdown"
            >
              <span
                [routerLink]="['/destination']"
                routerLinkActive="active fw-bold"
                class="d-block"
                >{{ "nav.destinations" | translate }}</span
              >
              <ul class="dropdown-menu border-0 shadow">
                @for (dest of allDestinations; track $index) { @if
                (dest.tours_count !== 0) {
                <li class="dropdown-submenu">
                  <!-- ✅ if egypt-->
                  <!-- *ngIf="!isEgypt(dest)" -->
                  <a
                    class="dropdown-item"
                    [routerLink]="['/destination', dest.slug]"
                    routerLinkActive="active fw-bold"
                  >
                    {{ dest.title }}
                  </a>

                  <!-- ✅ if not egypt submenu -->
                  <!-- <ng-container *ngIf="isEgypt(dest)">
                    <a
                      [routerLink]="['/destination', dest.slug]"
                      class="dropdown-item dropdown-toggle cPointer"
                    >
                      {{ dest.title }}
                    </a>
                    <ul class="dropdown-menu">
                      <li *ngFor="let cat of egyptCategories">
                        <a
                          class="dropdown-item"
                          [routerLink]="['/tour']"
                          routerLinkActive="active fw-bold"
                          [queryParams]="{ type: cat.id }"
                        >
                          {{ cat.title }}
                        </a>
                      </li>
                    </ul>
                  </ng-container> -->
                </li>
                } }
              </ul>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <!-- Right Section -->
      <div class="d-flex align-items-center g-1">
        <div class="d-flex align-items-center">
          <div class="d-none d-lg-flex align-items-center">
            <i
              routerLink="/signup"
              routerLinkActive="textSecondColor"
              class="fa fa-circle-user textMainColor me-2 fw-bold cPointer"
              [title]="'nav.signUpNow' | translate"
            ></i>

            <!-- <i
              routerLink="/cart"
              routerLinkActive="textSecondColor"
              class="fa fa-pen-to-square textMainColor me-2 fw-bold cPointer"
              title="Tours cart"
            ></i> -->

            <div
              class="me-2 cPointer"
              routerLink="/cart"
              routerLinkActive="textSecondColor"
              [title]="'nav.toursCart' | translate"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                width="20"
                height="20"
                class="cPointer fw-bold"
                viewBox="0 0 256 256"
                xml:space="preserve"
              >
                <g
                  style="
                    stroke: none;
                    stroke-width: 0;
                    stroke-dasharray: none;
                    stroke-linecap: butt;
                    stroke-linejoin: miter;
                    stroke-miterlimit: 10;
                    fill: none;
                    fill-rule: nonzero;
                    opacity: 1;
                  "
                  transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
                >
                  <path
                    d="M 74.396 66.93 h -47.12 c -3.491 0 -5.549 -2.665 -5.777 -5.299 c -0.178 -2.057 0.741 -4.326 2.792 -5.506 L 16.745 22.34 c -0.132 -0.592 0.012 -1.213 0.392 -1.687 c 0.379 -0.474 0.954 -0.75 1.561 -0.75 H 88 c 0.647 0 1.256 0.314 1.631 0.842 c 0.375 0.528 0.471 1.206 0.258 1.817 l -7.983 22.876 c -0.991 2.838 -3.446 4.921 -6.406 5.438 l -48.522 8.48 c -0.006 0.001 -0.012 0.002 -0.019 0.003 c -1.499 0.267 -1.507 1.541 -1.473 1.926 c 0.033 0.386 0.261 1.644 1.792 1.644 h 47.12 c 1.104 0 2 0.896 2 2 S 75.501 66.93 74.396 66.93 z M 21.193 23.904 l 6.966 31.186 l 46.652 -8.152 c 1.533 -0.268 2.805 -1.347 3.318 -2.817 l 7.055 -20.216 H 21.193 z"
                    style="
                      stroke: none;
                      stroke-width: 1;
                      stroke-dasharray: none;
                      stroke-linecap: butt;
                      stroke-linejoin: miter;
                      stroke-miterlimit: 10;
                      fill: rgb(0, 0, 0);
                      fill-rule: nonzero;
                      opacity: 1;
                    "
                    transform=" matrix(1 0 0 1 0 0) "
                    stroke-linecap="round"
                  />
                  <path
                    d="M 27.846 83.111 c -3.615 0 -6.555 -2.94 -6.555 -6.555 c 0 -3.615 2.94 -6.556 6.555 -6.556 s 6.556 2.94 6.556 6.556 C 34.401 80.171 31.46 83.111 27.846 83.111 z M 27.846 74.001 c -1.409 0 -2.555 1.146 -2.555 2.556 c 0 1.408 1.146 2.555 2.555 2.555 c 1.409 0 2.556 -1.146 2.556 -2.555 C 30.401 75.147 29.255 74.001 27.846 74.001 z"
                    style="
                      stroke: none;
                      stroke-width: 1;
                      stroke-dasharray: none;
                      stroke-linecap: butt;
                      stroke-linejoin: miter;
                      stroke-miterlimit: 10;
                      fill: rgb(0, 0, 0);
                      fill-rule: nonzero;
                      opacity: 1;
                    "
                    transform=" matrix(1 0 0 1 0 0) "
                    stroke-linecap="round"
                  />
                  <path
                    d="M 68.845 83.111 c -3.615 0 -6.556 -2.94 -6.556 -6.555 c 0 -3.615 2.94 -6.556 6.556 -6.556 s 6.556 2.94 6.556 6.556 C 75.4 80.171 72.46 83.111 68.845 83.111 z M 68.845 74.001 c -1.409 0 -2.556 1.146 -2.556 2.556 c 0 1.408 1.146 2.555 2.556 2.555 s 2.556 -1.146 2.556 -2.555 C 71.4 75.147 70.254 74.001 68.845 74.001 z"
                    style="
                      stroke: none;
                      stroke-width: 1;
                      stroke-dasharray: none;
                      stroke-linecap: butt;
                      stroke-linejoin: miter;
                      stroke-miterlimit: 10;
                      fill: rgb(0, 0, 0);
                      fill-rule: nonzero;
                      opacity: 1;
                    "
                    transform=" matrix(1 0 0 1 0 0) "
                    stroke-linecap="round"
                  />
                  <path
                    d="M 18.695 23.904 c -0.916 0 -1.742 -0.633 -1.95 -1.564 l -1.407 -6.301 c -0.677 -3.033 -3.321 -5.151 -6.428 -5.151 H 2 c -1.104 0 -2 -0.896 -2 -2 s 0.896 -2 2 -2 h 6.909 c 4.995 0 9.244 3.404 10.333 8.279 l 1.407 6.301 c 0.241 1.078 -0.438 2.147 -1.516 2.388 C 18.986 23.889 18.839 23.904 18.695 23.904 z"
                    style="
                      stroke: none;
                      stroke-width: 1;
                      stroke-dasharray: none;
                      stroke-linecap: butt;
                      stroke-linejoin: miter;
                      stroke-miterlimit: 10;
                      fill: rgb(0, 0, 0);
                      fill-rule: nonzero;
                      opacity: 1;
                    "
                    transform=" matrix(1 0 0 1 0 0) "
                    stroke-linecap="round"
                  />
                </g>
              </svg>
            </div>

            <i
              routerLink="/profile"
              routerLinkActive="textSecondColor"
              class="fa fa-address-book textMainColor me-2 fw-bold cPointer"
              [title]="'nav.myProfile' | translate"
            ></i>
          </div>

          <!-- select language -->
          <select
            name="language"
            id="language"
            (change)="onLangChange($event)"
            class="p-1 py-2 rounded-2 text-capitalize border-0 text-dark cPointer bg-transparent"
          >
            <!-- <option readonly disabled>Select Language</option> -->
            <option class="text-dark" selected value="en">
              {{ "nav.english" | translate }}
            </option>
            <option class="text-dark" value="fr">
              {{ "nav.french" | translate }}
            </option>
            <option class="text-dark" value="it">
              {{ "nav.italian" | translate }}
            </option>
            <option class="text-dark" value="gr">
              {{ "nav.german" | translate }}
            </option>
            <option class="text-dark" value="es">
              {{ "nav.spanish" | translate }}
            </option>
            <option class="text-dark" value="pr">
              {{ "nav.portuguese" | translate }}
            </option>
          </select>
        </div>

        <!-- make trip Button -->
        <button
          routerLink="/makeTrip"
          class="mainBtn Btn d-none d-lg-flex align-items-center gap-2 mx-2"
        >
          {{ "nav.makeTrip" | translate }}
          <!-- <i
            class="fas fa-plane-up fa-rotate-by bgPrimaryWhiteColor rounded-circle overflow-hidden"
          ></i> -->
        </button>

        <!-- Toggle Button -->
        <button
          class="mainBtn Btn rounded-2 d-lg-none pb-1"
          (click)="toggleSidebar()"
          type="button"
          aria-label="Toggle navigation"
        >
          <span class="fa fa-bars fs-5 border-0"></span>
        </button>
      </div>
    </div>
  </nav>

  <!-- Sidebar -->
  <div
    class="offcanvas offcanvas-end"
    id="sidebarOffcanvas"
    tabindex="-1"
    aria-labelledby="sidebarOffcanvasLabel"
    [class.show]="isSidebarOpen"
    [style.visibility]="isSidebarOpen ? 'visible' : 'hidden'"
  >
    <div class="offcanvas-header border-bottom flexBetween">
      <div class="d-flex align-items-center">
        <img
          src="../../../assets/image/golden ocean/Artboard 2.png"
          [alt]="siteTitle"
          [title]="siteTitle"
          class="me-2"
          style="width: 140px; height: 40px; object-fit: contain"
        />
      </div>
      <button
        class="btn-close wfit mx-auto"
        (click)="closeSidebar()"
        type="button"
        aria-label="Close"
      ></button>
    </div>

    <div class="offcanvas-body">
      <div class="navbar-nav flex-column">
        <ng-container *ngFor="let link of navigationLinks">
          <a
            [routerLink]="link.path"
            routerLinkActive="active fw-bold"
            [routerLinkActiveOptions]="{ exact: link.path === '/' }"
            class="nav-link px-1 mx-2 text-dark position-relative"
          >
            {{ link.label | translate }}
          </a>

          <!-- Dropdown categories -->
          <ng-container *ngIf="link.path === '/' && allCategories?.length">
            <div
              class="nav-link px-1 mx-2 text-dark position-relative dropdown custom-dropdown"
            >
              <span
                [routerLink]="['/tour']"
                routerLinkActive="active fw-bold"
                class="d-block text-capitalize"
                >{{ "nav.tours" | translate }}</span
              >
              <ul class="dropdown-menu border-0 shadow">
                <li *ngFor="let cat of allCategories">
                  <a
                    class="dropdown-item"
                    [routerLink]="['/tour']"
                    routerLinkActive="active fw-bold"
                    [queryParams]="{ type: cat.id }"
                  >
                    {{ cat.title }}
                  </a>
                </li>
              </ul>
            </div>
          </ng-container>

          <!-- Dropdown Destinations -->
          <ng-container *ngIf="link.path === '/' && allDestinations?.length">
            <div
              class="nav-link px-1 mx-2 text-dark position-relative dropdown custom-dropdown"
            >
              <span
                [routerLink]="['/destination']"
                routerLinkActive="active fw-bold"
                class="d-block"
                >{{ "nav.destinations" | translate }}</span
              >
              <ul class="dropdown-menu border-0 shadow">
                @for (dest of allDestinations; track $index) { @if
                (dest.tours_count !== 0) {
                <li class="dropdown-submenu">
                  <!-- ✅ if egypt-->
                  <!-- *ngIf="!isEgypt(dest)" -->
                  <a
                    class="dropdown-item"
                    [routerLink]="['/destination', dest.slug]"
                    routerLinkActive="active fw-bold"
                  >
                    {{ dest.title }}
                  </a>

                  <!-- ✅ if not egypt submenu -->
                  <!-- <ng-container *ngIf="isEgypt(dest)">
                    <a
                      [routerLink]="['/destination', dest.slug]"
                      class="dropdown-item dropdown-toggle cPointer"
                    >
                      {{ dest.title }}
                    </a>
                    <ul class="dropdown-menu">
                      <li *ngFor="let cat of egyptCategories">
                        <a
                          class="dropdown-item"
                          [routerLink]="['/tour']"
                          routerLinkActive="active fw-bold"
                          [queryParams]="{ type: cat.id }"
                        >
                          {{ cat.title }}
                        </a>
                      </li>
                    </ul>
                  </ng-container> -->
                </li>
                } }
              </ul>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="offcanvas-footer border-top p-3">
      <div>
        <i
          routerLink="/signup"
          routerLinkActive="textSecondColor"
          class="fa fa-circle-user textMainColor me-2 fw-bold cPointer"
          [title]="'nav.signUpNow' | translate"
        ></i>

        <i
          routerLink="/cart"
          routerLinkActive="textSecondColor"
          class="fa fa-pen-to-square textMainColor me-2 fw-bold cPointer"
          [title]="'nav.toursCart' | translate"
        ></i>

        <i
          routerLink="/profile"
          routerLinkActive="textSecondColor"
          class="fa fa-address-book textMainColor me-2 fw-bold cPointer"
          [title]="'nav.myProfile' | translate"
        ></i>
      </div>

      <!-- select language -->
      <select
        name="language"
        id="language"
        (change)="onLangChange($event)"
        class="p-1 py-2 rounded-2 text-capitalize border-0 text-dark cPointer bg-transparent"
      >
        <!-- <option readonly disabled>Select Language</option> -->
        <option class="text-dark" selected value="en">
          {{ "nav.english" | translate }}
        </option>
        <option class="text-dark" value="fr">
          {{ "nav.french" | translate }}
        </option>
        <option class="text-dark" value="it">
          {{ "nav.italian" | translate }}
        </option>
        <option class="text-dark" value="gr">
          {{ "nav.german" | translate }}
        </option>
        <option class="text-dark" value="es">
          {{ "nav.spanish" | translate }}
        </option>
        <option class="text-dark" value="pr">
          {{ "nav.portuguese" | translate }}
        </option>
      </select>
      <button
        class="mainBtn Btn w-100 d-flex align-items-center justify-content-center gap-2"
      >
        {{ "nav.makeATrip" | translate }}
        <!-- <i
          class="fas fa-map-marker-alt fa-rotate-by textMainColor bgPrimaryWhiteColor rounded-circle overflow-hidden"
        ></i> -->
      </button>
    </div>
  </div>

  <!-- Backdrop -->
  <div
    class="offcanvas-backdrop fade"
    [class.show]="isSidebarOpen"
    (click)="closeSidebar()"
    [style.display]="isSidebarOpen ? 'block' : 'none'"
  ></div>
</div>
