@import '../../../styles/variables';

.iconBox{
    width: 50px;
    height: 50px;
    font-size: 18px;
}

::ng-deep .itinerary-info  {
  p.lead.text-justify{
    font-family: $body-font;
    font-size: 16px !important;
  }
}
::ng-deep .mat-content {
    flex-direction: row-reverse !important; 
}
::ng-deep .mat-expansion-panel.mat-expansion-panel {
    box-shadow: none !important; 
    border: 1px solid #eee;
}

.rateText{
  font-size: 90px;
  line-height: 0.9;
}

.comments {
  figure {
    width: 90px;
    height: 90px;
  }

}

.AsideBar {
//   position: sticky;
  top: 70px;

  ul{
    .iconBox{
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
  }

}
.tickets {
  .setCount {
    width: 30px;
    color: $primary-color;
  }
  .dropdown-toggle::after{display: none;}
  button.Btn{
    background-color: #fff;
    border: 1px solid $primary-color;
    color: $primary-color;
    transition: all 1s;
    
    &:hover{
        color: #fff;
        border: 1px solid #fff;
        background-color: $primary-color;
    }
    
  }
}

::ng-deep .owl-nav{
  display: flex !important;
    justify-content: space-between !important;
    transform: translateY(-580%) !important;
    
}