@import '../../../styles/variables';

.iconBox{
    width: 50px;
    height: 50px;
    font-size: 18px;
}

::ng-deep .itinerary-info  {
  p.lead.text-justify{
    font-family: $text-font;
    font-size: 16px !important;
  }
}
::ng-deep .cdk-overlay-container { z-index: 2000; }

::ng-deep .mat-expansion-panel.mat-expansion-panel {
    box-shadow: none !important;
    border: 1px solid #eee;
}

.rateText{
  font-size: 90px;
  line-height: 0.9;
}

.comments {
  figure {
    width: 90px;
    height: 90px;
  }

}

.AsideBar {
//   position: sticky;
  top: 70px;

  ul{
    .iconBox{
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
  }

}
.tickets {
  .setCount {
    width: 30px;
    color: $primary-color;
  }
  .dropdown-toggle::after{display: none;}
  button.Btn{
    color: #fff;
    border: 1px solid $secondary-color;
    background-color: $secondary-color;
    transition: all 1s;

    &.disabled{opacity: 0.4; cursor: not-allowed;}

    &:hover{
        border: 1px solid #fff;
        background-color: $primary-color;
    }

  }
}

::ng-deep .owl-nav{
  display: flex !important;
    justify-content: space-between !important;
    transform: translateY(-580%) !important;

}

/* كل سيكشن نضيف له scroll-margin-top ديناميكي */
.anchor-section {
  scroll-margin-top: 500px;
}

.controls , .AsideBar{
  z-index: 1030;
  position: sticky;
  top: 75px;
  background: #ffffff;
  width: 100%;
  // transform: translateX(-79%);
  left: 50%;
}
