<section class="about mb-5">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-6">
        <div class="position-relative aboutBg me-3">
          <div class="row">
            <div class="col-6">
              <img
                src="../../../assets/image/about 01.jpg"
                class="w-100 rounded-pill"
                alt="about image"
              />
            </div>
            <div class="col-6 mt-5">
              <img
                src="../../../assets/image/about 02.jpg"
                class="w-100 rounded-pill mt-5"
                alt="about image"
              />
            </div>
          </div>
          <div
            class="experience text-capitalize bgMainColor rounded-circle text-center text-white"
          >
            <h5 class="fs-2 fw-bold mt-3">30 <span>+</span></h5>
            <p class="">years of experience</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div>
          <div class="secTitle">
            <span
              class="box bgMainColor text-white text-uppercase border rounded-pill p-2 transition"
            >
              <span
                class="bg-white textMainColor rounded-circle transition d-inline-block"
                ><i class="fa fa-plane me-2 ps-1"></i
              ></span>

              about us
            </span>
            <h2 class="my-3 textSecondColor fw-bold">
              We Are Egypt’s Leading
              <b class="textMainColor fw-bold">Best Travel </b>Booking Agency
            </h2>
            <p>
              With years of expertise in the travel industry, we help thousands
              of travelers discover the beauty of Egypt and the world. From
              booking affordable flights to curating luxury vacations, we make
              your travel planning smooth and stress-free.
            </p>
          </div>

          <div class="row g-3 my-4">
            <div class="col-xl-6 col-lg-12 col-md-6">
              <div class="sideBar position-relative p-2 rounded-4 d-flex">
                <div
                  class="iconBox rounded-circle overflow-hidden bgMainColor border flex-shrink-0"
                >
                  <img src="../../../assets/image/deal.svg" alt="icon image" />
                </div>
                <div>
                  <h6 class="textSecondColor text-capitalize fw-bold">
                    💰 Get Your Best Deals
                  </h6>
                  <p class="mb-0">
                    Discover unbeatable offers on flights, hotels, Nile cruises,
                    and tour packages. We negotiate the best prices so you can
                    travel more for less.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-lg-12 col-md-6">
              <div class="sideBar position-relative p-2 rounded-4 d-flex">
                <div
                  class="iconBox rounded-circle overflow-hidden bgMainColor border flex-shrink-0"
                >
                  <img
                    src="../../../assets/image/booking.svg"
                    alt="icon image"
                  />
                </div>
                <div>
                  <h6 class="textSecondColor text-capitalize fw-bold">
                    🌐 Easy Booking
                  </h6>
                  <p class="mb-0">
                    Book your dream trip in just a few clicks! Our simple and
                    secure system makes planning your next journey faster and
                    easier than ever.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <button routerLink="/about" class="mainBtn Btn">discover more</button>
        </div>
      </div>
    </div>
  </div>
</section>
