<section class="about mb-5">
  <div class="container">
    <div class="row g-4 align-items-center">
      <div class="col-lg-6">
        <div class="position-relative aboutBg me-3">
          <div class="row g-3">
            <div class="col-6">
              <img
                src="../../../assets/image/about 01.jpg"
                class="w-100 rounded-pill img-hover"
                alt="about image"
              />
            </div>
            <div class="col-6 mt-5">
              <img
                src="../../../assets/image/about 02.jpg"
                class="w-100 rounded-pill mt-5 img-hover"
                alt="about image"
              />
            </div>
          </div>
          <div class="experience text-capitalize bgMainColor rounded-circle text-center text-white">
            <h5 class="fs-2 fw-bold mt-3">30 <span>+</span></h5>
            <p class="mb-0">{{ 'about.yearsOfExperience' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="ps-lg-4">
          <div class="secTitle">
            <span
              class="box bgMainColor text-white text-uppercase border rounded-pill p-2 transition"
            >
              <span
                class="bg-white textMainColor rounded-circle transition d-inline-block"
                ><i class="fa fa-plane me-2 ps-1"></i
              ></span>

              {{ 'about.aboutUs' | translate }}
            </span>
            <h2 class="my-4 textSecondColor fw-bold">
              {{ 'about.leadingTravelAgency' | translate }}
              <b class="textMainColor fw-bold">{{ 'about.bestTravel' | translate }} </b>{{ 'about.bookingAgency' | translate }}
            </h2>
            <p class="text-muted mb-4">
              {{ 'about.aboutDesc1' | translate }}
            </p>
            <p class="text-muted">
              {{ 'about.aboutDesc2' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
