/* You can add global styles to this file, and also import other style files */
@import './styles/_variables.scss';


// Global styles
body {
    margin: 0;
    padding-top: 70px;
    font-family: $text-font;
    line-height: 1.6;
    color: $text-color;

    h1,h2,h3,h4,h5,h6{ line-height: 1.3;font-family: $body-font;}
}

* {
    box-sizing: border-box;
}

.bgMainColor {
    background-color: $primary-color;
}
.borderMainColor {
    border-color: $primary-color !important;
}
.textMainColor {
    color: $primary-color;
}
.bgSecondColor {
    background-color: $secondary-color;
}
.borderSecondColor {
    border-color: $secondary-color !important;
}
.textSecondColor {
    color: $secondary-color;
}
.bgPrimaryWhiteColor {
    background-color: $primary-white-color;
}
.textPrimaryWhiteColor {
    color: $primary-white-color;
}
.bgThirdColor {
    background-color: $third-color;
}
.textThirdColor {
    color: $third-color;
}

.wfit{width: fit-content;}


// owl carousel
.owl-theme .owl-dots{
  margin-top: 30px !important;
  .owl-dot span{
    background-color: transparent !important;
    border: 1px solid $primary-color;
    opacity: .5 !important;
    transition: all 1s;
}
  .owl-dot.active span {
    background-color: $primary-color !important;
    // width: 40px !important;
    opacity: 1 !important;
  }
  .owl-dot:hover span {
    opacity: 1 !important;
    background-color: $secondary-color !important;
  }

}

.owl-nav{
  display: flex !important;
    justify-content: space-between !important;
    transform: translateY(-400%) !important;
    
}

.owl-theme .owl-nav {
    &.disabled{display: none !important;}
    & [class*=owl-] {
        width: 2rem;
        height: 2rem;
        color: $primary-color;
        border: 1px solid $primary-color;
        background-color: #fff;
        border-radius: 50%;
        opacity: 0.8;
        transition: $transition;
        
        &:hover{
          background: $primary-color;
          color: #fff;
    
        }
    }
    

    & .owl-prev{transform: translateX(-25px);}
    & .owl-next{transform: translateX(25px);}
}

@media screen and (max-width:579px) {
  
  .owl-theme .owl-nav {

      & .owl-prev{transform: translateX(25px);}
      & .owl-next{transform: translateX(-25px);}
  }
  
}

.destinations{
    .owl-nav{
        transform: translateY(-600%) !important;
        & .owl-prev{transform: translateX(-15px);}
        & .owl-next{transform: translateX(15px);}
    }
    .owl-theme .owl-dots{
        margin-top: 0px !important;
    }
}


// style

.mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
  background-color: $primary-color !important;
}
.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: $primary-color !important;
}
.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
  border-color: var(--mdc-radio-selected-icon-color);
  border-color: $primary-color !important;
}

.mat-mdc-slider .mdc-slider__thumb-knob{border: 1px solid #DB9F3E !important;}

html{
    --mdc-slider-handle-color: #fff !important;
    --mdc-slider-focus-handle-color: #DB9F3E !important;
    --mdc-slider-hover-handle-color: #DB9F3E !important;
    --mdc-slider-active-track-color: #DB9F3E !important;
    --mdc-slider-inactive-track-color: #DB9F3E !important;
    --mdc-slider-with-tick-marks-inactive-container-color: #DB9F3E !important;
}



.Btn{
  background-color: transparent;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 1s;
  text-transform: capitalize;
  padding: 7px 14px;
  border-radius: 45px;
  i{padding: 5px; width: 30px ; height: 30px; }

  &::before , &::after{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      transition: $transition;

}

    &::after{
      right: 0;
    }
    &::before{
      left: 0;
    }

    &:hover {
      i{
        transition: $transition;
        --fa-rotate-angle:330deg;
      }

    }
}

.mainBtn.Btn{
  border: 1px solid $primary-color;
  background-color: $primary-color;
  color: white;
  i{
    background-color:  white;
    color:  $primary-color;
  }

  &::before , &::after{
      background-color: $secondary-color;
      width: 0%;
    }
    &:hover {
        border-color: $secondary-color;
      &::before,&::after{
        width: 51%;
        
      }
      i{
        color: white;
        border: 1px solid #fff;
        background-color: transparent !important;
      }
    }
}

.secBtn.Btn{
    border: 1px solid $secondary-color;
    color:  $secondary-color;
    i{
      color:  white;
      background-color:  $secondary-color;
    }
    &::before , &::after{
        background-color: $secondary-color;
        width: 0%;
  }
      &:hover {
        color: white;
        &::before,&::after{
          width: 50%;
        }
        i{
          color: $secondary-color;
          border: 1px solid $secondary-color;
          background-color: white !important;
        }
      }
  }

.transition{transition: $transition;}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secTitle{
 h2{font-size: 40px;}
  span.box{
    letter-spacing: 3px;
    span{
        width: 25px;
        height: 25px;
    }
  }

  &:hover{
    span.box{
        background-color: #fff !important;
        color: $primary-color !important;
        border-color: $primary-color !important;
        span{
            color: #fff !important;
           background-color: $primary-color !important;

        }
    }
}

//   @media screen and (max-width:767px) {
//     h2{font-size: 30px;}

//   }
//   @media screen and (max-width:550px) {
//     h2{font-size: 19px;}
//   }
}

.iconBox{
  background-color: $primary-color;
  color: #fff;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 33px;
  margin-right: 20px;
}

.cPointer{
  cursor: pointer;
}

figure.imgHover{
  img{
    transition: all 1s;
  }
  &:hover{
    img{
      transform: scale(1.05) rotate(2deg);
      }
    }
}

.sideBar{
  box-shadow: 1px 1px 5px 5px rgba(219, 159, 62, 0.1);
  border: 1px solid $border-color;
}

.form-control:focus{
  box-shadow: 1px 1px 9px 9px rgba(219, 159, 62, 0.1) !important;
  border-color: $primary-color;
}

// inputs , textarea , select
*{
  .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
    background-color: transparent !important;
    border: 1px solid $border-color !important;
    border-radius: 8px;
  }
  // Change label color on focus for matInput
  .mat-mdc-form-field.mat-focused .mat-mdc-floating-label {
    color: $primary-color !important;
  }

  .mat-mdc-form-field-focus-overlay{
    background-color: $primary-color !important;
    border-bottom-color: $primary-color;
  }

}

.specialBorder{border-radius: 50px 50px 50px 0px;}

// btn controls 
.controls{
    background-color: rgba(219, 159, 62, 0.3);
    border-radius: 50px 50px 50px 0%;
    
  button{
    border: 1px solid $border-color;
    
    border-radius: 50px 50px 50px 0%;
    color: $secondary-color;
    background-color: #fff;
    transition: all 1s;
    &:hover, &.active{
      background-color: $primary-color;
      color: #fff;
    }

  }
}

// banner for all pages
.pageBanner{
  background: linear-gradient(to right , rgba(0, 0, 0,0.5) , rgba(0, 0, 0,0.7)) , url('./assets/image/banner\ bg.jpg') center no-repeat;
  background-size: cover;
  height: 70vh;
  margin-top: -70px;

}

// tetsimonial section
.testimonial{
    height: 100vh;
    background: linear-gradient(to top , rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.5)) ,url('./assets/image/testmonial bg.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 1;

    .projectName{
        position: absolute;
        left: 50%;
        bottom: -10px;
        font-size: 150px;
        line-height: 150px;
        font-weight: 800;
        padding-bottom: 20px;
        letter-spacing: 30px;
        transform: translateX(-50%);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px #fff;
        opacity: .3;
        z-index: 3;
    }

    .owl-nav{
        display: flex !important;
        justify-content: space-between !important;
        transform: translateY(-400%) !important;
    }

    @media screen and (max-width:992px) {
        .projectName{
            font-size: 120px;
            line-height: 110px;
            letter-spacing: 30px;
        }
    }
    @media screen and (max-width:767px) {
        .projectName{
            font-size: 90px;
            letter-spacing: 20px;
        }
    }

    @media screen and (max-width:586px) {
        & {height: auto;}
        // .projectName{
        //     font-size: 45px;
        //     bottom: -30px;
        // }
        .owl-nav{
            transform: translateY(-900% )!important;
            & .owl-prev{transform: translateX(99px);}
            & .owl-next{transform: translateX(-99px);}

        }
    }

}

a{text-decoration: none; color: $text-color;}



// home main section waves and footer waves
.svg-shape-wrapper {
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  height: 265px;
  z-index: -1;
  svg use{
    animation: wave 6s linear infinite;
  }
  svg use:nth-child(2){
    animation-duration: 5s;
    animation-delay: -1.5s;
  }
}

@keyframes wave {

  0% {
            transform: translate(-2px, 0);
  }
  100% {
            transform: translate(0px, 0);
  }
}
@keyframes bounce-y {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes bounce-x {
  0% {
    transform: translateX(-20px);
}
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(-20px);
  }
}



// top banner
.info{
  a{
    color: $primary-color;
    transition: $transition;
    &:hover{color: $secondary-color;}
  }
}
.signBtn{
  width: 80px;
  height: 100%;
  transform: rotate(-45deg) translate(68%, -2%);
  i{
    transform: rotate(45deg) ;padding-left: 5px; font-size: 18px;

  }
}

