<section
  style="
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.7)
      ),
      url('../../../assets/image/shopping-cart.jpg') center/cover no-repeat;
  "
  class="pageBanner mb-5"
>
  <div
    class="text-capitalize text-white fw-bold h-100 flexCenter justify-content-end pb-5 mb-5 flex-column"
  >
    <h2 class="fw-bold">{{ "checkout.myCheckout" | translate }}</h2>
    <nav style="--bs-breadcrumb-divider: '✈️'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']" class="text-decoration-none text-white"
            >{{ "nav.home" | translate }}</a
          >
        </li>
        <li class="breadcrumb-item active text-white" aria-current="page">
          {{ "checkout.myCheckout" | translate }}
        </li>
      </ol>
    </nav>
  </div>
</section>

<section class="my-5">
  <div class="container">
    <!--  -->
    <form
      [formGroup]="checkoutForm"
      (ngSubmit)="(checkoutForm)"
      class="row g-3"
    >
      <div class="col-lg-8">
        <div class="sideBar p-3 rounded-3">
          <h2 class="text-capitalize textMainColor mb-3 fw-bold h4">
            {{ "checkout.bookingPersonalInfo" | translate }}
          </h2>
          <div class="row g-3">
            <div class="col-md-6">
              <div>
                <label
                  for="first_name"
                  class="textSecondColor text-capitalize fw-bold mb-2"
                  >{{ "checkout.firstName" | translate }}</label
                >
                <div class="item position-relative">
                  <input
                    type="text"
                    id="first_name"
                    formControlName="first_name"
                    placeholder="{{ 'checkout.yourFirstName' | translate }}"
                    class="form-control p-2 ps-5 rounded-3"
                  />
                  <i class="fa-regular fa-user textMainColor"></i>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <label
                  for="last_name"
                  class="textSecondColor text-capitalize fw-bold mb-2"
                  >{{ "checkout.lastName" | translate }}</label
                >
                <div class="item position-relative">
                  <input
                    type="text"
                    id="last_name"
                    formControlName="last_name"
                    placeholder="{{ 'checkout.yourLastName' | translate }}"
                    class="form-control p-2 ps-5 rounded-3"
                  />
                  <i class="fa-regular fa-user textMainColor"></i>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <label
                  for="phone"
                  class="textSecondColor text-capitalize fw-bold mb-2"
                  >{{ "checkout.phone" | translate }}</label
                >
                <div class="item position-relative">
                  <input
                    type="tel"
                    id="phone"
                    formControlName="phone"
                    placeholder="{{ 'checkout.yourPhone' | translate }}"
                    class="form-control p-2 ps-5 rounded-3"
                  />
                  <i class="fa fa-phone textMainColor"></i>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <label
                  for="email"
                  class="textSecondColor text-capitalize fw-bold mb-2"
                  >{{ "checkout.email" | translate }}</label
                >
                <div class="item position-relative">
                  <input
                    type="email"
                    id="email"
                    formControlName="email"
                    placeholder="{{ 'checkout.yourEmail' | translate }}"
                    class="form-control p-2 ps-5 rounded-3"
                  />
                  <i class="fa-regular fa-envelope textMainColor"></i>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div>
                <label
                  for="country"
                  class="textSecondColor text-capitalize fw-bold mb-2"
                  >{{ "contact.selectYourCountry" | translate }}</label
                >
                <div class="item position-relative">
                  <select
                    id="country"
                    formControlName="country"
                    class="form-control p-2 ps-5 rounded-3"
                  >
                    @for (item of countries; track $index) {

                    <option value="" hidden disabled selected>
                      {{ "contact.selectYourCountry" | translate }}
                    </option>
                    <option [value]="item.name">{{ item.name }}</option>
                    }
                  </select>
                  <i class="fa fa-globe textMainColor"></i>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-6">
              <div>
                <label
                  for="state"
                  class="textSecondColor text-capitalize fw-bold mb-2"
                  >state</label
                >
                <div class="item position-relative">
                  <input
                    type="text"
                    id="state"
                    formControlName="state"
                    placeholder="Your state "
                    class="form-control p-2 ps-5 rounded-3"
                  />
                  <i class="fa fa-location-dot textMainColor"></i>
                </div>
              </div>
            </div> -->

            <div class="col-md-12">
              <div>
                <label
                  for="notes"
                  class="textSecondColor text-capitalize fw-bold mb-2"
                  >{{ "checkout.notes" | translate }}</label
                >
                <div class="item position-relative">
                  <textarea
                    id="notes"
                    rows="5"
                    formControlName="notes"
                    placeholder="{{ 'checkout.writeYourNotes' | translate }}"
                    class="form-control p-2 ps-5 rounded-3"
                  ></textarea>
                  <i class="fa fa-pen textMainColor"></i>
                </div>
              </div>
            </div>
          </div>

          <!-- payment choose -->
          <div class="my-4 text-capitalize">
            <h2 class="textMainColor mb-3 fw-bold h4">{{ "checkout.paymentMethod" | translate }}</h2>
            <mat-radio-group
              aria-label="payment_method"
              formControlName="payment_method"
            >
              <mat-radio-button value="cash">{{ "checkout.cash" | translate }}</mat-radio-button>
              <mat-radio-button value="visa master">
                {{ "checkout.visa" | translate }}</mat-radio-button
              >
              <mat-radio-button value="paypal">{{ "checkoutExtended.paypal" | translate }}</mat-radio-button>
            </mat-radio-group>
            <!-- -->
            <button
              (click)="getCheckoutData()"
              type="submit"
              class="mainBtn Btn w-100 mt-2"
            >
              {{ "checkoutExtended.placeOrder" | translate }}
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <!-- your order -->
        <div class="text-capitalize pb-4 border-bottom">
          <h2 class="text-capitalize textSecondColor mb-3 fw-bold h4">
            {{ "checkoutExtended.bookingSummary" | translate }}
          </h2>

          @if (tourCart.length>0) {
          <owl-carousel-o [options]="ordersOptions">
            @for (cart of tourCart; track $index) {
            <ng-template carouselSlide>
              <div class="p-2 order rounded-3">
                <figure class="specialBorder overflow-hidden mb-2">
                  <img
                    [src]="cart.tour.featured_image"
                    height="250px"
                    class="w-100"
                    [alt]="cart.tour.title"
                  />
                </figure>
                <h3 class="h6 fw-bold pe-2 textSecondColor">
                  {{ cart.tour.title }}
                </h3>
                <div>
                  <span
                    class="bgSecondColor specialBorder text-white px-2 py-1"
                  >
                    <i class="fa fa-star me-2"></i>
                    {{ cart.tour.rate }}
                  </span>
                  <span class="mx-2"
                    >({{ cart.tour.reviews_number }} {{ "checkoutExtended.reviews" | translate }})</span
                  >
                </div>

                <div class="text-capitalize mt-3">
                  <p class="mb-1 flexBetween">
                    <span class="textSecondColor">{{ "checkoutExtended.checkIn" | translate }}:</span>
                    {{ cart.start_date.slice(0, 10) }}
                  </p>
                  <p class="mb-1 flexBetween">
                    <span class="textSecondColor">{{ "checkoutExtended.guests" | translate }}:</span>
                    @if (cart.adults>0) {
                    {{ cart.adults }} {{ "cart.adults" | translate }} } @if (cart.children>0) {
                    {{ cart.children }} {{ "cart.children" | translate }} } @if (cart.infants>0) {
                    {{ cart.infants }} {{ "cart.infants" | translate }} }
                  </p>
                  <p class="mb-1 flexBetween">
                    <span class="textSecondColor">{{ "checkoutExtended.stay" | translate }}:</span>
                    {{ cart.tour.duration }}
                  </p>

                  <h4 class="h6 fw-bolder flexBetween">
                    <span class="textSecondColor">{{ "checkoutExtended.totalPrice" | translate }}:</span>
                    {{ cart.totalPrice | currency }}
                  </h4>
                </div>
              </div>
            </ng-template>

            }
          </owl-carousel-o>
          }@else {
          <h5 class="text-capitalize text-danger">{{ "checkoutExtended.cartIsEmpty" | translate }}</h5>
          }
        </div>

        <!-- price before discount -->
        <div class="fw-bolder flexBetween textMainColor text-uppercase mt-3">
          <span>{{ "checkoutExtended.totalBeforeDiscount" | translate }}</span>
          <span> {{ getTotalPrice() | currency }}</span>
        </div>

        <!-- coupon -->
        <div class="mt-4 mb-2">
          <label
            for="coupon_id"
            class="textSecondColor text-capitalize fw-bold mb-2"
            >{{ "checkoutExtended.couponCode" | translate }}</label
          >
          <div class="d-flex gap-2">
            <div class="item position-relative">
              <input
                type="text"
                id="coupon_id"
                formControlName="coupon_id"
                placeholder="{{ 'checkoutExtended.yourCouponCode' | translate }}"
                class="form-control p-2 ps-5 rounded-3"
              />
              <i class="fa fa-code textMainColor"></i>
            </div>
            <button (click)="applyCoupon()" class="secBtn Btn">{{ "checkoutExtended.apply" | translate }}</button>
          </div>
        </div>

        <div>
          <input
            hidden
            type="text"
            id="loyalty_credit_used"
            formControlName="loyalty_credit_used"
            placeholder="loyalty_credit_used "
            class="form-control p-2 ps-5 rounded-3"
          />
        </div>

        @if (haveData && isLoggedIn) {
        <div class="my-4 text-black text-capitalize">
          <div
            class="flexBetween py-1 border-bottom border-opacity-50 fw-bold mb-2"
          >
            <span class="">{{ "checkoutExtended.originalAmount" | translate }}</span>
            <span>{{ checkoutPreview.original_amount }} </span>
          </div>
          <div
            class="flexBetween py-1 border-bottom border-opacity-50 fw-bold mb-2"
          >
            <span class="">{{ "checkoutExtended.availableCredit" | translate }}</span>
            <span>{{ checkoutPreview.available_credit }}</span>
          </div>
          <div
            class="flexBetween py-1 border-bottom border-opacity-50 fw-bold mb-2"
          >
            <span class="">{{ "checkoutExtended.discountAmount" | translate }}</span>
            <span>{{ checkoutPreview.discount_amount }}</span>
          </div>
          <div
            class="flexBetween py-1 border-bottom border-opacity-50 fw-bold mb-2"
          >
            <span class="">{{ "checkoutExtended.finalAmount" | translate }}</span>
            <span>{{ checkoutPreview.final_amount }}</span>
          </div>
          <div
            class="flexBetween py-1 border-bottom border-opacity-50 fw-bold mb-2"
          >
            <span class="">{{ "checkoutExtended.remainingCredit" | translate }}</span>
            <span>{{ checkoutPreview.remaining_credit }}</span>
          </div>
          <div
            class="flexBetween py-1 border-bottom border-opacity-50 fw-bold mb-2"
          >
            <span class="">{{ "checkoutExtended.savings" | translate }}</span>
            <span>{{ checkoutPreview.savings }}</span>
          </div>
          <div
            class="flexBetween py-1 border-bottom border-opacity-50 fw-bold mb-2"
          >
            <span class="">{{ "checkoutExtended.pointsToEarn" | translate }}</span>
            <span>{{ checkoutPreview.points_to_earn }}</span>
          </div>
        </div>

        <button (click)="handleDiscount()" class="secBtn Btn w-100">
          {{ "checkoutExtended.discount" | translate }}
        </button>
        }

        <!-- price -->
        @if (couponApplied && couponDiscount > 0) {
        <div class="fw-bolder flexBetween textMainColor text-uppercase mt-3">
          <span>{{ "checkoutExtended.totalAfterDiscount" | translate }}</span>
          <span> {{ getTotalPriceAfterCouponCode() | currency }}</span>
        </div>
        }
      </div>
    </form>
  </div>
</section>
