<section
  style="
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.7)
      ),
      url('../../../assets/image/auth\ bg.avif') center/cover no-repeat;
  "
  class="pageBanner mb-5"
>
  <div
    class="text-capitalize text-white fw-bold h-100 flexCenter justify-content-end pb-5 mb-5 flex-column"
  >
    <h2 class="fw-bold">{{ "auth.forgetPassword" | translate }}</h2>
    <nav style="--bs-breadcrumb-divider: '✈️'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']" class="text-decoration-none text-white"
            >{{ "nav.home" | translate }}</a
          >
        </li>
        <li class="breadcrumb-item active text-white" aria-current="page">
          {{ "auth.forgetPassword" | translate }}
        </li>
      </ol>
    </nav>
  </div>
</section>

<section class="my-5 py-5">
  <div class="container">
    <div class="col-lg-6 col-md-8 mx-auto">
      <div class="specialBorder bg-white p-4 sideBar">
        <div class="text-center">
          <img
            [src]="logo"
            [alt]="siteTitle"
            [title]="siteTitle"
            width="200px"
            height="70px"
          />
          <p class="fs-5">{{ "auth.createAccount" | translate }}</p>
        </div>

        <form
          [formGroup]="forgetPasswordForm"
          (ngSubmit)="handleForgetPassForm()"
          class=""
        >
          <div class="mb-3">
            <label
              for="email"
              class="textSecondColor text-capitalize fw-bold mb-2"
              >{{ "auth.emailAddress" | translate }}</label
            >
            <div class="item position-relative">
              <input
                type="email"
                id="email"
                formControlName="email"
                placeholder="{{ 'contact.yourEmail' | translate }}"
                class="form-control p-2 ps-5 rounded-3"
              />
              <i class="fa-regular fa-envelope textMainColor"></i>
            </div>
            <!-- show validators -->
            <div
              *ngIf="
                forgetPasswordForm.get('email')?.errors &&
                forgetPasswordForm.get('email')?.touched
              "
              class="alert alert-danger mt-2"
            >
              <span
                *ngIf="forgetPasswordForm.get('email')?.getError('required')"
                >{{ "auth.emailRequired" | translate }}</span
              >
            </div>
          </div>
          <div class="mb-3">
            <label
              for="otp"
              class="textSecondColor text-capitalize fw-bold mb-2"
              >otp code</label
            >
            <div class="item position-relative">
              <input
                type="number"
                id="otp"
                formControlName="otp"
                placeholder="Your otp code"
                class="form-control p-2 ps-5 rounded-3"
              />
              <i class="fa fa-code textMainColor"></i>
            </div>
            <!-- show validators -->
            <div
              *ngIf="
                forgetPasswordForm.get('otp')?.errors &&
                forgetPasswordForm.get('otp')?.touched
              "
              class="alert alert-danger mt-2"
            >
              <span *ngIf="forgetPasswordForm.get('otp')?.getError('required')"
                >otp required</span
              >
            </div>
          </div>

          <button
            [disabled]="forgetPasswordForm.invalid"
            type="submit"
            class="mainBtn Btn mb-3 w-100"
          >
            <i
              *ngIf="isLoading"
              class="fa-solid fa-spinner fa-spin me-1 border-0 bg-transparent text-white"
            ></i>
            <i
              class="fa fa-paper-plane mx-2 border-0 bg-transparent text-white"
            ></i>
            {{ "auth.login" | translate }}
          </button>
        </form>
        <p class="my-2 text-center">
          {{ "auth.dontHaveAccount" | translate }}
          <span routerLink="/signup" class="textMainColor fw-bold cPointer"
            >{{ "auth.signUp" | translate }}.</span
          >
        </p>
      </div>
    </div>
  </div>
</section>
