<section class="pageBanner mb-5">
  <div
    class="text-capitalize text-white fw-bold h-100 flexCenter justify-content-end pb-5 mb-5 flex-column"
  >
    <h2 class="fw-bold">FAQ's</h2>
    <nav style="--bs-breadcrumb-divider: '✈️'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']" class="text-decoration-none text-white"
            >Home</a
          >
        </li>
        <li class="breadcrumb-item active text-white" aria-current="page">
          FAQ's
        </li>
      </ol>
    </nav>
  </div>
</section>

<section class="my-5 py-5">
  <div class="container">
    <app-faq-content></app-faq-content>
  </div>
</section>
